.App {
  h1 {
    font-size: 2.5em;
    text-align: center;
  }

  .app-content {
    background-color: rgb(71, 71, 71);
    height: 100%;
    width: 600px;
    margin-top: 30px;
    border-radius: 20px;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: 1fr 12fr;
    // grid-gap: 21px;

    .add-item-button {
      height: 100%;

      button {
        color: white;
        background-color: rgb(41, 41, 41);
        font-size: 2em;
        height: 100%;
        width: 100%;
        border-radius: 15px 0px 0px 15px;
        border: none;
        transition: 0.5s ease-in-out;

        &:hover {
          color: rgb(41, 41, 41);
          background-color: white;
          -webkit-box-shadow: inset 0px 6px 26px 13px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0px 6px 26px 13px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 6px 26px 13px rgba(0, 0, 0, 0.75);
        }
      }
    }

    .todo-list-wrapper {
      height: 100%;
    }
  }
}
