.App {
  height: 95vh;
  width: 35vw;
  border-radius: 20px;
  border: 5px solid black;
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: 1fr 12fr;
  // grid-gap: 21px;

  .add-item-button {
    height: 100%;

    button {
      font-size: 2em;
      height: 100%;
      width: 100%;
      border-radius: 15px 0px 0px 15px;
      border: none;
      border-right: 5px solid black;
      background-color: beige;
      transition: 0.3s;

      &:hover {
        -webkit-box-shadow: inset 0px 6px 26px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px 6px 26px 13px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 6px 26px 13px rgba(0, 0, 0, 0.75);
      }
    }
  }

  .todo-list-wrapper {
    height: 100%;
  }
}
